<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!--AutoUpdater.xml为大版本号的升级配置，AutoUpdater_Compilation.xml为编译号的升级配置-->
    <add key="AutoUpdater" value="AutoUpdater.xml"/>
  </appSettings>
</configuration>
