<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="附件目录" value="E:\attach" />
    <add key="附件临时目录" value="E:\attachtemp" />
    <!--允许上传的文件格式-->
    <add key="ValidFileExts" value="rar,doc,docx,pdf,xls,xlsx,ppt,pptx,jpg,gif,png,txt,xml,mpp,jpeg,vsd,vsdx,tif,tiff" />
    <add key="PreviewFileType" value="jpg,gif,png,txt,xml,mpp,jpeg" />
    <!--允许上传的文件大小限制(KB)-->
    <add key="FileSingleSizeLimit" value="102400000" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <!--最大请求内容2G、最大请求字符串2M-->
        <requestLimits maxAllowedContentLength="2147483648" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="JavaScriptResource" />
      <add name="JavaScriptResource" path="JsRes/*" verb="GET" type="Teleware.JsLib.ScriptRegisterHandler" />
    </handlers>
  </system.webServer>
  <system.web>
    <!--最大请求内容2G、最大请求字符串2M-->
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" maxQueryStringLength="2097151" />
    <pages enableViewStateMac="false" enableEventValidation="false" enableSessionState="false" enableViewState="true" />
    <compilation targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  
  </entityFramework>
  <location path="jsres">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>

  </runtime>
</configuration>